################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/documents/FileContentIndex/4240251e-a41f-449b-8a17-2b7149ffec8e.vsidx
/.vs
